<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="blobname" value="prod"/>
		<add key="blob_access_key" value="jalksjdpoipowoijlndpl242"/>
		<add key="SendGrid_APIKey" value="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"/>
	</appSettings>
	<connectionStrings>
		<add name="dbconnection" connectionString="Data Source=USCDCUDBLNSVC2.tnd.us.cbre.net;Initial Catalog=GEPP;User ID=cbrelsappss;Password=qC29a$7P70rN@*PF;Connection Timeout = 0"/>
	</connectionStrings>
</configuration>