<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="blobname" value="prod"/>
		<add key="blob_access_key" value="jalksjdpoipowoijlndpl242"/>
		<add key="gocad_baseurl" value="https://webservices5.gocadservices.com/"/>
		<add key="gocad_password" value="R50GP789X78SDKLIOsi899hkjUUUOIUnpnIcc1"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
</configuration>