<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="blobname" value="prod"/>
		<add key="blob_access_key" value="jalksjdpoipowoijlndpl242"/>
		<add key="gocad_baseurl" value="https://webservices5.gocadservices.com/"/>
		<add key="gocad_password" value="R50GP789X78SDKLIOsi899hkjUUUOIUnpnIcc1"/>
	</appSettings>
	<connectionStrings>
		<add name="dbconn" connectionString="Data Source=USCDCUDBLNSVC3.tnd.us.cbre.net;Initial Catalog=GEPP;User ID=cbrelsapps;Password=qC92a$7P70rN@*PF;Connection Timeout = 0"/>
	</connectionStrings>
</configuration>